<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <style>
        @import url("/Style/CreateQuestionnaireStyle.css");
        @import url("/Style/NavigationPanel.css");
    </style>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
</head>
<body>

<form id="questionnaire" th:method="POST" th:action="@{/questionnaires/new/{questionnaireId}(questionnaireId = ${questionnaire.id})}" th:object="${questionnaire}">

    <div style="background-color: #E7ECFF;
                border-radius: 5px;
                height: 80px;
                margin-top: 20px;
                text-align: center;
                box-sizing: border-box;
                padding-top: 10px;
                min-width: 400px;">
        <span>Questionnaire name</span>
        <input type="text"  th:value="${questionnaire.title}" th:field="*{title}"
               style="width: 90%;
               margin-top: 10px"
               hx-trigger="keyup changed delay:500ms, search"
               th:attr = "hx-post=|@{/questionnaires/questionnaire/{questionnaireId}/setText(questionnaireId=${questionnaire.id})}|">
    </div>

    <div id="questions" >
        <div th:each="question,i : ${questionnaire.questions}" th:id="|question${question.id}|" th:fragment="question">
            <div class="question" >
                <div th:id="|question${question.id}Header|" th:fragment="questionHeader">

                        <div class="question-header">
                            <input class="question-text" type="text" name="questionText" th:value="${question.text}"
                                   hx-trigger="keyup changed delay:200ms, search"
                                   th:attr = "hx-post=|@{/questionnaires/question/{questionId}/setText(questionId=${question.id})}|"
                            >

                            <div>
                                <img class="addFileImg" src="/Img/addImg.png">
                                <input name="file" type="file" class="input_file" aria-hidden="true"
                                       hx-trigger="change"
                                       hx-encoding="multipart/form-data"
                                       th:attr = "
                                        hx-post=|@{/questionnaires/questions/{questionId}/image(questionId=${question.id})}|,
                                        hx-target=|#question${question.id}Img|">
                            </div>

                            <select name="question-type"
                                    hx-trigger="change"
                                    th:attr = "
                                        hx-get=|@{/questionnaires/questions/{questionId}/changeType(questionId=${question.id})}|,
                                        hx-target=|#question${question.id}Body|"
                                    class="sortBtn">
                                <option value="one" th:if="${question.type.text} == 'one'" selected disabled hidden>один из списка</option>
                                <option value="several" th:if="${question.type.text} == 'several'" selected disabled hidden>несколько из списка</option>
                                <option value="range" th:if="${question.type.text} == 'range'" selected disabled hidden>интервал</option>
                                <option value="text" th:if="${question.type.text} == 'text'" selected disabled hidden>текст</option>
                                <option value="one">один из списка</option>
                                <option value="several">несколько из списка</option>
                                <option value="range">интервал</option>
                                <option value="text">текст</option>
                            </select>

                        </div>

                        <div th:id="|question${question.id}Img|" th:fragment="questionImg">
                            <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                            <!--<img th:src="${question.getImage()}" width="400">-->
                            <img class="cross" src="/Img/deleteImg.png" alt="delete image"
                                 hx-trigger="click"
                                 th:attr = "hx-delete=|@{/questionnaires/questions/{questionId}/image(questionId=${question.id})}|">
                        </div>
                </div>

                <div th:id="|question${question.id}Body|">
                        <div th:id="|answers${question.id}|">
                            <div th:each="answer,j : ${question.answers}" th:switch="${question.type.text}" th:fragment="answer">

                                <div th:case="one" th:id="|answer${answer.id}|" class="answer" >

                                    <div class="question-header">
                                        <img style="padding-right: 1%; height: 16px; width: 16px" src="/Img/circle.png" alt="answer type">
                                        <label style="width: 90%;">
                                            <input class="answerText" type="text" name="answer" placeholder="answer" th:value="${answer.optionsText}"
                                                   th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsText|"
                                                   hx-trigger="keyup changed delay:200ms, search"
                                                   th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                        </label>
                                        <div>
                                            <img class="addFileImg" src="/Img/addImg.png">
                                            <input name="file" type="file" class="input_file" aria-hidden="true"
                                                           hx-trigger="change"
                                                           hx-encoding="multipart/form-data"
                                                           th:attr = "
                                                           hx-post=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.getId()})}|,
                                                           hx-target=|#answer${answer.id}Img|">
                                        </div>
                                        <img class="deleteAnswer" src="/Img/deleteAnswer.png" alt="delete answer"
                                                     hx-trigger="click"
                                                     th:attr = "
                                                     hx-delete=|@{/questionnaires/answers/{answerId}(answerId=${answer.getId()})}|,
                                                     hx-target=|#answers${question.id}|">
                                    </div>
                                            <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
                                    <div th:id="|answer${answer.id}Img|" th:fragment="answerImg">
                                        <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                                        <img class="cross" src="/Img/deleteImg.png" alt="delete image"
                                                     hx-trigger="click"
                                                     th:attr = "hx-delete=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.id})}|">
                                    </div>
                                </div>

                                <div th:case="several" th:id="|answer${answer.id}|" class="answer" >
                                    <div class="question-header">
                                        <img style="padding-right: 1%; height: 16px; width: 16px" src="/Img/square.png" alt="answer type">
                                        <label style="width: 90%;">
                                            <input class="answerText" type="text" name="answer" placeholder="answer" th:value="${answer.optionsText}"
                                                   th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsText|"
                                                   hx-trigger="keyup changed delay:200ms, search"
                                                   th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                        </label>
                                        <div>
                                            <img class="addFileImg" src="/Img/addImg.png">
                                            <input name="file" type="file" class="input_file" aria-hidden="true"
                                                           hx-trigger="change"
                                                           hx-encoding="multipart/form-data"
                                                           th:attr = "
                                                           hx-post=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.getId()})}|,
                                                           hx-target=|#answer${answer.id}Img|">
                                        </div>
                                        <img class="deleteAnswer" src="/Img/deleteAnswer.png" alt="delete answer"
                                                     hx-trigger="click"
                                                     th:attr = "
                                                     hx-delete=|@{/questionnaires/answers/{answerId}(answerId=${answer.getId()})}|,
                                                     hx-target=|#answers${question.id}|">
                                    </div>

                                            <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
                                    <div th:id="|answer${answer.id}Img|" th:fragment="answerImg">
                                        <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                                        <img class="cross" src="/Img/deleteImg.png" alt="delete image"
                                                     hx-trigger="click"
                                                     th:attr = "hx-delete=|@{/questionnaires/answers/{answerId}/image(answerId=${answer.id})}|">
                                    </div>
                                </div>

                                <div th:case="text" th:id="|answer${answer.id}|" class="answer" style="margin-top: 5%" >
                                            <label style="width: 90%">
                                                <input class="answerText" type="text" name="answer" placeholder="answer" disabled="" >
                                            </label>
                                        </div>

                                <div th:case="range" th:id="|answer${answer.id}|" class="answer" >

                                            <div class="rangeBorder">
                                                <select name="range"
                                                        hx-trigger="change"
                                                        th:attr = "
                                                        hx-post=|@{/questionnaires/answers/{answerId}/LeftBorder(answerId=${answer.id})}|,
                                                        hx-target=|#leftBorder${answer.id}|"
                                                        class="sortBtn" style="width: 42px"
                                                        th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsLowerBound|">
                                                    <option value="" selected disabled hidden th:text="${answer.optionsLowerBound}">lower bound</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                </select>
                                                <span style="margin-left: 10px">-</span>
                                                <select name="range"
                                                        hx-trigger="change"
                                                        th:attr = "
                                                        hx-post=|@{/questionnaires/answers/{answerId}/RightBorder(answerId=${answerid})}|,
                                                        hx-target=|#rightBorder${answer.id}|"
                                                        class="sortBtn" style="width: 42px"
                                                        th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsUpperBound|">
                                                    <option value="" selected disabled hidden th:text="${answer.optionsUpperBound}">upper bound</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                            <div style="padding-top: 15px; width: 100%">
                                                <div style="display:flex; ">
                                                    <div th:id="|leftBorder${answer.id}|" style="width: 20px">
                                                        <span th:text="${answer.optionsLowerBound}">0</span>
                                                    </div>
                                                    <div style="width: 50%; margin-left: 20px">
                                                        <input type="text" class="answerText" th:value="${answer.optionsLowerBoundText}"
                                                               th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsLowerBoundText|"
                                                               hx-trigger="keyup changed delay:200ms, search"
                                                               th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                                    </div>
                                                </div>
                                                <br>
                                                <div  style="display:flex; ">
                                                    <div th:id="|rightBorder${answer.id}|" style="width: 20px">
                                                        <span th:text="${answer.optionsUpperBound}" >2</span>
                                                    </div>
                                                    <div style="width: 50%; margin-left: 20px">
                                                        <input type="text" class="answerText" th:value="${answer.optionsUpperBoundText}"
                                                               th:name="|questions[${i.index + questionOffset}].answers[${j.index}].optionsUpperBoundText|"
                                                               hx-trigger="keyup changed delay:200ms, search"
                                                               th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setText(answerId=${answer.id})}|">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>


                        <div th:if="${question.type.text} == 'one' or ${question.type.text} == 'several' " class="answer">
                            <label style="width: 90%; margin-left: 26px">
                                <input class="answerText" type="text" name="answer" placeholder="нажмите, чтобы добавить новый ответ" disabled="" >
                            </label>
                        </div>
                    </div>

                    <div style="border-top: 1px solid black; margin-top: 7px; padding: 7px">
                        <div>
                            <img class="delete-question" src="/Img/trashIcon.png" alt="delete q btn"
                                     hx-trigger="click"
                                     th:attr = "hx-delete=|@{/questionnaires/question/{questionId}(questionId=${question.getId()})}|"
                                     hx-target="#questions">
                        </div>
                        <div th:if="'range' != ${question.type.text} and 'text' != ${question.type.text}">
                            <button type="button" class="navigation-btn" style="float: left"
                                        hx-trigger="click"
                                        th:attr = "
                                        hx-get=|@{/questionnaires/question/{questionNum}/{questionId}/setScores
                                        (questionId=${question.getId()}, questionNum=${i.index + questionOffset})}|,
                                        hx-target=|#question${question.id}|"
                            >Задать баллы</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="navPanel">
        <button type="submit" class="navigation-btn" >Задать ключи</button>
    </div>

</form>

<div class="addNewQuestion">
    <input type="image" width="60px" src="/Img/plus.png" alt="новый вопрос"
           hx-trigger="click"
           th:attr="hx-get=|@{/questionnaires/{questionnaireId}/addQuestion(questionnaireId=${questionnaire.id})}|"
           hx-swap="beforeend"
           hx-target="#questions">
</div>
</body>
</html>

<!--1) при вводе текста отправляется запрос с загрузкой результата-->

