<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <style>
        @import url("/Style/CreateQuestionnaireStyle.css");
        @import url("/Style/NavigationPanel.css");
    </style>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
</head>
<body>

<div class="question">
    <div th:id="|question${question.id}Header|" th:fragment="questionHeader">

        <div class="question-header">
            <input class="question-text" type="text" name="questionText" th:value="${question.text}">
        </div>

        <div th:id="|question${question.id}Img|" th:fragment="questionImg">
            <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
            <!--<img th:src="${question.getImage()}" width="400">-->
        </div>
    </div>
    <div th:each="answer,j : ${question.answers}" th:switch="${question.type.text}" th:fragment="answer">

        <div th:case="one" th:id="|answer${answer.id}|" class="answer" >

            <div class="question-header">
                <img style="padding-right: 1%; height: 16px; width: 16px" src="/Img/circle.png" alt="answer type">
                <label style="width: 90%;">
                    <input class="answerText" type="text" name="answer" placeholder="answer" th:value="${answer.optionsText}"
                           th:name="|questions[${questionNum}].answers[${j.index}].optionsText|">
                </label>
                <input style="width: 50px;height: 18px; margin-left: 20px" type="number" min="0" max="100" value="0" th:value="${answer.optionsScore}"
                       th:name="|questions[${questionNum}].answers[${j.index}].optionsScore|"
                       hx-trigger="keyup changed delay:200ms, search"
                       th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setScore(answerId=${answer.id})}|">
            </div>
                            <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
            <div th:id="|answer${answer.id}Img|" th:fragment="answerImg">
                <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
            </div>
        </div>

        <div th:case="several" th:id="|answer${answer.id}|" class="answer" >
            <div class="question-header">
                <img style="padding-right: 1%; height: 16px; width: 16px" src="/Img/square.png" alt="answer type">
                <label style="width: 90%;">
                    <input class="answerText" type="text" name="answer" placeholder="answer" th:value="${answer.optionsText}"
                           th:name="|questions[${questionNum}].answers[${j.index}].optionsText|">
                </label>
                <input style="width: 50px;height: 18px; margin-left: 20px" type="number" min="0" max="100" value="0" th:value="${answer.optionsScore}"
                       th:name="|questions[${questionNum}].answers[${j.index}].optionsText|"
                       hx-trigger="keyup changed delay:200ms, search"
                       th:attr = "hx-post=|@{/questionnaires/answers/{answerId}/setScore(answerId=${answer.id})}|">
            </div>

                            <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
            <div th:id="|answer${answer.id}Img|" th:fragment="answerImg">
                <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
            </div>
        </div>

    </div>
    <div style="border-top: 1px solid black; margin-top: 7px; padding: 7px">
         <div>
             <img class="delete-question" src="/Img/trashIcon.png" alt="delete q btn"
                             hx-trigger="click"
                             th:attr = "hx-delete=|@{/questionnaires/question/{questionId}(questionId=${question.getId()})}|"
                             hx-target="#questions">
         </div>
         <div>
             <button type="button" class="navigation-btn" style="float: left"
                     hx-trigger="click"
                     th:attr = "
                        hx-get=|@{/questionnaires/question/{questionNum}/{questionId}/setAnswers
                        (questionId=${question.getId()}, questionNum=${questionNum})}|,
                        hx-target=|#question${question.id}|"
             >Сохранить</button>
         </div>
    </div>
</div>
</body>
</html>
