<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <style>
        @import url("/Style/CreateQuestionnaireStyle.css");
        @import url("/Style/NavigationPanel.css");
    </style>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
</head>
<body>

<div id="questionnaire">

    <div id="questions" th:each="question : ${questionnaire.getQuestions()}" th:fragment="questions">

        <div th:id="|question${question.getId()}|" class="question" th:fragment="question">

            <div th:id="|questionHeader${question.getId()}|" class="question-header" th:fragment="questionHeader">
                <input class="question-text" type="text" name="questionText" th:text="${teacher.getText()}">

                <div>
                    <img class="addFileImg" src="https://cdn-icons-png.flaticon.com/512/84/84147.png">
                    <input name="file" type="file" class="input_file" aria-hidden="true"
                           hx-trigger="change"
                           hx-get="@{/question/{questionId}/image(questionId=${question.getId()})"
                           hx-target="'#answers' + ${question.getId()}"
                           th:attr = "hx-target=|#questionHeader${question.getId()}|">
                </div>

                <select name="sort-type"
                        hx-trigger="change, load"
                        hx-get="@{/question/{questionId}/changeType(questionId=${question.getId()})}"
                        th:attr = "hx-target=|#answers${question.getId()}|"
                        class="sortBtn">
                    <option value="" selected disabled hidden th:text="${question.getId()}">Choose here</option>
                    <option value="one">one from list</option>
                    <option value="several">several from list</option>
                </select>
                <!--<img th:src="${question.getImage()}" width="400">-->
            </div>

            <div th:id="|answers${question.getId()}|" class="questionBody" th:each="answer,i : *{question.getAnswers()}" th:fragment="answer">
                <div th:switch="${question.getType()}">

                    <div th:case="one" class="answer">
                        <div class="question-header">
                            <img style="margin-right: 10px; height: 20px; width: 20px" src="/static/circle.png" alt="answer type">
                            <label style="width: 90%;">
                                <input class="answerText" type="text" name="answer" placeholder="answer" th:text="&{answer.getText()}">
                            </label>
                            <input style="width: 50px;height: 18px; margin-left: 20px" type="number" min="0" max="100" value="0" th:value="${answer.getScore()}">
                        </div>

                        <div>
                            <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                            <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
                        </div>
                    </div>

                    <div th:case="several" class="answer" >
                        <div class="question-header">
                            <img style="margin-right: 10px;" width="20px" src="/static/square.png" alt="answer type">
                            <label style="width: 90%;">
                                <input class="answerText" type="text" name="answer" placeholder="answer" th:text="&{answer.getText()}">
                            </label>
                            <input style="width: 50px;height: 18px; margin-left: 20px" type="number" min="0" max="100" value="0" th:value="${answer.getScore()}">
                        </div>

                        <div>
                            <img class="questionImage" src="https://notivory.com/upload/medialibrary/b16/b16d5342127a9811d38d97015f83c230.jpg" alt="answer image">
                            <!--<img th:if="${question.getImage() != null}" class="questionImage" th.src="*{answer.getImage()}" alt="answer image">-->
                        </div>
                    </div>
                </div>
            </div>

            <div style="border-top: 1px solid black; margin-top: 7px; padding: 7px">
                <img class="delete-question" src="https://cdn.icon-icons.com/icons2/1524/PNG/512/trashcan_106521.png" alt="delete q btn"
                     hx-trigger="click"
                     hx-delete="@{/question/{questionId}(questionId=${question.getId()})"
                     hx-target="questions">
                <button type="button" class="navigation-btn" style="float: left"
                        hx-trigger="click"
                        hx-post="@{/question/{questionId}/set-scores(questionId=${question.getId()})"
                        th:attr = "hx-target=|#answers${question.getId()}|"
                >Сохранить</button>
            </div>

        </div>

    </div>

</div>
</body>
</html>

<!-- добавить ввод баллов-->
<!-- не совсем доделано, в файле должен быть только вопрос, без других элементов, этот html код просто вставится-->
